/*** Tamaño Fuente ***/

/* 15px */

input, textarea {
	font-size: 15px;
}

/* 20px */

.botonLimpiar, .botonEnviar {
	font-size: 20px;
}

footer h4 {
	font-size: 20px;
}

.aromasPadre  p {
	font-size: 20px;
}

.contenedor1, .contenedor2, .contenedor3 {
	font-size: 20px;
}
.juvenil p {
	font-size: 20px;
}

.contenedorListadoDama {
	font-size: 20px;
}

.contenedorListadoDama p {
	font-size: 20px; 	
} 

.contenedorListadoVaron {
	font-size: 20px;
}
.contenedorListadoVaron p {
	font-size: 20px;
}

/* 23px */

.aromasPadre h1 {
	font-size: 23px;
}

.juvenil h3 {
	font-size: 23px;
}

/* 25px */

.nav li a {
	font-size: 25px;
}

form h3 {
	font-size: 25px;
}

.contenedorListadoDama h3 {
	font-size: 25px; 	
}

.contenedorListadoVaron h3 {
	font-size: 25px;
}

/* 27px */

main p {	 
	font-size: 27px;
}

/* 35px */
header h2 {
	font-size: 35px;	
}

main h1 {
	
	font-size: 35px;	
}


/* 45px*/

footer h3 {
	font-size: 45px;
}

/* 60px */

header h1 {
	font-size: 60px;
}




/*** Estilo de Bordes ***/

footer h3 {
	border:dotted 5px #9A2521;
}

.listado1, .listado2, .listado3, .listado4, .listado5, .listado6, .listado7, .listado8, .listado9 {
	border: double 5px #9C3328;
}

.nav li a {
	border-radius: 10px;
}

.nav li a:hover {
	border-radius: 10px;
}

.botonLimpiar:hover, .botonEnviar:hover {
	border-radius: 10px;
	border: solid 2px #C88B82;
}

form {
	border-radius: 10px;
}

.subMenu1:hover p, .subMenu2:hover p, .subMenu3:hover p {
	border-radius: 10px;
}

.juvenil:hover {
	border-radius: 10px;
}

.caption:hover {
	border-radius: 10px;
}




/*** Color de Fondo ***/

.nav li a:hover {
	background-color: #9A2521;
}

.botonLimpiar:hover, .botonEnviar:hover {
	background-color: #B56F62;

}

form {
	background-color: #A1453D;
}

input, textarea {
	background-color: #9A2521 ;
}

.aroma1:hover, .aroma2:hover, .aroma3:hover, .aroma4:hover, .aroma5:hover, .aroma6:hover {
	background-color: #9A2521;
}

.subMenu1:hover p, .subMenu2:hover p, .subMenu3:hover p {
	background-color: #9A2521;;
}

.juvenil:hover {
	background-color: #9A2521;;
}

.caption:hover {
	background-color: #9A2521;;
}